:root {
  // Colours
  --body-background: hsl(225deg 93% 99%);
  --button-background: hsl(225deg 93% 87%);
  --button-background-hover: hsl(225deg 93% 78%);
  --button-background-disabled: hsl(225deg 23% 87%);
  --card-border: hsl(225deg 100% 63%);

  // Others
  --border-radius: 0.25em;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--body-background);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
